
:root {
    font-size: 70.5%;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(36, 35, 35);
    
}
.row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 3px;
    
    
}

.table {
    width: 80%;
}

#items-box{
    padding: 10px;
    border: solid 1px #ddd;
    
}

.imgCard{
    flex: auto;
    width:50%;
    height: 65%;
    position: inherit;
    object-fit: cover;
}

.card {
    width: 220px;
    border: solid 1px #ddd;
    overflow: hidden;
    border-radius: 20px;
    margin: 5px;
    

}


.template-cart{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    content: "";
    display: table;
    clear: both;
}




.container h4 {
    font-size: 35px;

}

.container, td, .container tr,.container th {
    padding: 4px;
    border: solid 1px #ddd;
    display: flex-box;
   
}

table{
    text-align: center;
    padding: 5px;
    width: 80%;
    
}

.thQty {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #5ba4a2;
    color: white;
}


.btn {
    background-color: #7dc3c0;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 6px;
    padding-bottom: 10px;
}

.btn:hover {
    background-color: #4c8280;
    border: none;
    padding: 10px;
    color: white;
}

.btn-vaciar {
    background-color: #e25b60;
    border: none;
    padding: 7px;
    color: white;
    border-radius: 10px;
}

.btn-vaciar:hover {
    background-color: rgb(229, 65, 65);
}

.nameTitle {
    text-align: left;
}